<% j =1%>
                <% for articlenumber in @newsarray %>
                    <p> <strong> Headline <%= j %>:</strong> <%= articlenumber["title"] %> </p>
                    <p><strong> URL: </strong><%= articlenumber["url"] %></p>
                    <br>
                    <% j = j+1 %>
                <% end %>
                <% for headlines in @articles%>
<a href= <%= headlines['url'] %>>
<p><%= headlines['title']%></p>
</a>
<% end %>